.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;

  .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    &List {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    &Box {
      padding: 20px;
      border: 1px solid #fff;

      .title {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 20px;
        color: #10C06B;
        font-size: 18px;
      }
    }

    &Item {
      & > dt {
        margin-bottom: 8px;
      }

      & > dd {
        color: #a2a2a2;
      }
    }
  }

  .stack {
    padding: 4px 8px;
    border: 1px solid #FFF;

    &Wrap {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}