.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  font-size: 18px;
  position: relative;

  &::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.2;
    background: var(--background-image) no-repeat top;
    animation: float 5s ease-in-out infinite;
    z-index: -1;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .project {
    &Title {
      margin-bottom: 10px;
      font-size: 28px;
      font-weight: bold;
      font-family: var(--font-elice-bold);
    }

    &Details {
      font-size: 20px;
    }

    &Description {
      margin-top: 20px;
      font-size: 16px;
      color: #a2a2a2;
    }

    &Content {
      display: flex;
      gap: 40px;
      margin-top: 60px;

      .thumbnailWrapper {
        width: 800px;
        border-radius: 20px;

        .thumbnailImage {
          width: 100%;
          height: 542px;
          object-fit: cover;
        }
      }
    }

    &Info {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 1;

      .infoSection {
        .infoTitle {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: bold;
          font-family: var(--font-elice-bold);
        }

        .tech {
          &List {
            display: flex;
            gap: 20px;
          }

          &Item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .techIcon {
              width: 50px;
              height: 50px;

              &.next {
                background-position-x: left !important;
              }

              &.nuxt {
                background-position-x: calc(100% / 5) !important;
              }

              &.vue {
                background-position-x: calc((100% / 5) * 2) !important;
              }

              &.sass {
                background-position-x: calc((100% / 5) * 3) !important;
              }

              &.figma {
                background-position-x: calc((100% / 5) * 4) !important;
              }

              &.gitlab {
                background-position-x: right !important;
              }
            }

            .techName {
              margin-top: 6px;
              font-size: 14px;
              font-weight: bold;
            }
          }
        }

        .projectLink {
          color: #111;
        }

        .projectReview {
          line-height: 1.5;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .projectCard {
    margin: 0 40px;
  }
}

@media (max-width: 1200px) {
  .projectCard {
    margin: 0 20px;
    height: auto;
    padding-top: 20px;
    border-top: 1px dashed #dadada;

    &::before {
      display: none;
    }

    .project {
      &Title {
        margin-bottom: 14px;
        font-size: 24px;
        line-height: 1.3;
        text-align: center;
        word-break: keep-all;
      }

      &Details {
        font-size: 14px;
        line-height: 1.3;
      }

      &Description {
        margin-top: 14px;
        line-height: 1.3;
        font-size: 14px;
      }

      &Content {
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 30px;
        width: 100%;

        .thumbnailWrapper {
          position: relative;
          width: 100%;

          .thumbnailImage {
            padding-top: 67.6%;
            height: auto;
          }
        }
      }

      &Info {
        gap: 20px;

        .infoSection {
          .infoTitle {
            margin-bottom: 14px;
            font-size: 16px;
          }

          .tech {
            &Item {
              .techIcon {
                width: 40px;
                height: 40px;
              }

              .techName {
                font-size: 12px;
              }
            }
          }

          .projectLink,
          .projectReview {
            font-size: 14px;
          }
        }
      }
    }
  }
}
