.page {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;

  &::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .2;
    background: var(--bg-image) no-repeat top;
    animation: float 5s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .info {
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin-bottom: 60px;

    .photo {
      width: 180px;
      height: 220px;
      border-radius: 10px;
    }

    .userName {
      font-size: 40px;
      font-family: 'Tenada';
    }

    .age {
      font-family: 'Tenada';
    }

    .contactInfo {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 20px;

      .infoItem {
        display: flex;
        align-items: center;

        & > .infoTitle {
          display: flex;
          align-items: center;
          margin-right: 10px;
        }
      }
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .swiperContainer {
    display: none !important;
  }

  .career,
  .award,
  .skill,
  .project {
    .title {
      margin-bottom: 30px;
      padding: 10px 0 10px 20px;
      border-left: 6px solid #111;
      font-size: 24px;
      font-family: 'Tenada';
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .stack {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      &Item {
        padding: 4px 8px;
        display: inline-block;
        border: 1px solid #111;
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 768px) {
  .page {
    .info {
      margin: 30px 20px;

      .userName {
        font-size: 24px;
      }

      .contactInfo {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .infoItem {
          font-size: 14px;
        }
      }
    }

    .gridContainer {
      display: none;
    }

    .swiperContainer {
      display: flex !important;
      align-items: center;
      justify-content: center;
      width: 100%;

      .swiperSlide {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .career,
      .award,
      .skill,
      .project {
        margin: 0 20px;
        padding: 20px;
        width: 100%;
        border: 1px solid #111;
        border-radius: 10px;
        font-size: 14px;

        .title {
          margin-bottom: 20px;
          padding: 6px 0 6px 10px;
          font-size: 16px;
          border-width: 4px;
        }

        .list {
          word-break: keep-all;
        }
      }
    }
  }
}
