.page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
  height: 100vh;

  &::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .2;
    background: var(--background-image) no-repeat top;
    animation: float 5s ease-in-out infinite;
    z-index: -1;
  }

  .title {
    font-size: 120px;
    font-family: 'Tenada';
  }

  .contactList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &Item {
      & > a {
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 40px;
        transition: all ease .2s;
        font-family: 'Tenada';
        color: #111;
      }
    }
  }
}

@media (max-width: 1200px) {
  .page {
    padding: 0 20px;
    gap: 20px;

    .contactList {
      gap: 10px;

      &Item {
        & > a {
          gap: 10px;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .page {
    &::before {
      background: var(--background-mob-image) no-repeat center / cover;
    }
    
    .title {
      font-size: 28px;
    }
  }
}