.projectBox {
  margin: 0 auto;
  width: 1280px;

  &:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eaeaea;  
  }

  .project {
    &Name {
      font-size: 24px;
      font-weight: bold;
    }

    &Info {
      margin-top: 4px;
      font-size: 18px;

      .division {
        margin: 0 8px;
      }
    }

    &Description {
      margin-top: 14px;
    }
  }

  .flexBox {
    display: flex;
    gap: 40px;
    margin-top: 50px;

    .thumb {
      display: flex;
      width: 50%;
      
      &Img {
        width: 100%;
        height: 434px;
        object-fit: cover;
      }
    }
    

    .info {
      display: flex;
      flex-direction: column;
      gap: 50px;
      flex: 1;

      &Item {
        .title {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: bold;
        }

        .stack {
          &List {
            display: flex;
            gap: 20px;
          }

          &Item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
              width: 50px;
              height: 50px;

              &.next {
                background-position-x: left !important;
              }

              &.nuxt {
                background-position-x: calc(100% / 5) !important;
              }

              &.vue {
                background-position-x: calc((100% / 5) * 2) !important;
              }

              &.sass {
                background-position-x: calc((100% / 5) * 3) !important;
              }

              &.figma {
                background-position-x: calc((100% / 5) * 4) !important;
              }

              &.gitlab {
                background-position-x: right !important;
              }
            }

            .txt {
              margin-top: 4px;
              font-size: 14px;
              font-weight: bold;
            }

            .percent {
              margin-top: 4px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}