.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;

  &Inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    height: 100%;
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .header {
    &Inner {
      padding: 0 20px;
    }
  }
}