.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;

  &Inner {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    height: 100%;
    border-top: 2px solid #FFF;
    border-bottom: 1px solid #FFF;
  }
}